@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
  
body {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 100vh;
}

.menuheader {
  grid-area: header;
  background: #343a40;
  padding: 10px;
}

.lateral {
  grid-area: sidebar;
  background: #343a40;
  padding-top: 30px;
}

.content {
  grid-area: content;
  background: #f8f9fa;
  padding: 10px;
  overflow: auto; /* Agrega esta línea */
}



.footer {
  grid-area: footer;
  background: #343a40;
}
.button-primary {
  display: grid;
  place-items: center;
  padding: 10px;
  background: #0e0e0e;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content; /* Ajusta el ancho al contenido */
  margin: 5px; /* Agrega un margen entre los botones */
}
.button-secondary {
  display: grid;
  place-items: center;
  padding: 10px;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content; /* Ajusta el ancho al contenido */
  margin: 5px; /* Agrega un margen entre los botones */
}

/**			<div class="side-menu-container">
				<ul class="nav navbar-nav">

					<li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
					<li class="active"><a href="#"><i class="fa fa-puzzle-piece"></i> Components</a></li>
					<li><a href="#"><i class="fa fa-heart"></i> Extras</a></li>**/